.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  display: none;
}
.popup_opened {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  display: flex;
}

.popup__btn-close {
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url(../images/Close\ Icon.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  border: 0;
  position: fixed;
  top: 28%;
  left: 69%;
  transform: translate(-50%, -50%);
}
.confirm-popup__container{
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 430px;
  height: 181px;
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: column;
}
.confirm-popup__title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  padding-left: 36px;
  height: 23px;
  width: 358px;
  margin-top: 34px;
  margin-bottom: 0px;
}

.popup__form {
  display: flex;
  flex-direction: column;
  width: 358px;
  height: 215px;
}
.confirm-popup__form-submit-btn{
  display: block;
  background-color: #000;
  box-shadow: 0px 0px 25px 0px #00000026;
  color: #c4c4c4;
  width: 358px;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  height: 50px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-family: "Inter", "Arial", sans-serif;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-top: 48px;
  margin-bottom: 36px;
}
.popup__button_disabled {
  display: block;
  background-color: #fff;
  box-shadow: 0px 0px 25px 0px #00000026;
  color: #c4c4c4;
  width: 358px;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  height: 50px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-family: "Inter", "Arial", sans-serif;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 13px;
}
.confirm-popup__form-submit-btn:hover {
  opacity: 50%;
}
@media screen and (min-width: 320px) and (max-width: 544px) {
  .popup {
    max-width: 320px;
    width: 100%;
  }
  .popup__container {
    max-width: 282px;
    width: 100%;
    margin: auto;
  }
}
