.page {
  width: 100%;
  max-width: 1280px;
  background-color: #000;
  margin: auto;
}
@media screen and (min-width: 320px) and (max-width: 544px) {
  .page {
    max-width: 320px;
    width: 100%;
  }
}
